.hero-slide-show {
  position: relative;
  display: block;
  max-width: 100%;
  margin: auto;
}

.hero-slide-show .slide {
  display: none;
  width: 100%;
  height: auto;
}

.hero-slide-show .slide.active {
  display: block;
}

.hero-slide-show .slide img {
  width: 100%;
  height: auto; 
  object-fit:fill;
}

.hero-slide-show button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(41, 41, 41, 0.5); 
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 50;
}

.hero-slide-show button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.hero-slide-show button:nth-of-type(1) {
  left: 10px;
}

.hero-slide-show button:nth-of-type(2) {
  right: 10px;
}

/* @media screen and (max-width: 600px) {
  .hero-slide-show .slide {
    height: 200px;
  } */

  .hero-slide-show button {
    padding: 5px;
  }


#heroImg{
  width: 100%;
    height: auto;
  opacity: 100%;
}