.hero-slide-show {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    position: absolute;
    top: 50%;
  }
  
  button:first-child {
    left: 0;
  }
  
  button:last-child {
    right: 0;
  }
  