body {
	height: 100vh;
	margin: 0;
	margin-top: 75px;
	background: black;
	font-family: "Inter", sans-serif;
	font-family: "Libre Baskerville", serif;
	font-family: "Merriweather", serif;
	font-family: "Mooli", sans-serif;
	font-family: "Mulish", sans-serif;
	font-family: "Pridi", serif;
	font-family: "Roboto", sans-serif;
	font-family: "Signika", sans-serif;
	background-clip: fixed;
	background-attachment: fixed;
}

.navbar {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	align-items: baseline;
	background: black;
	z-index: 1000;
}

.navbar a {
	float: left;
	font-size: 25px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar button {
	float: left;
	font-size: 25px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
navbar button:hover {
	opacity: 0.8;
	background-color: red;
	color: black;
	border-radius: 12px;
}
navbar a:hover {
	opacity: 0.8;
	background-color: red;
	color: black;
	border-radius: 12px;
}

h2 {
	font-size: 26px;
	font-style: italic;
	text-shadow: -4px 3px 5px black;
	color: #d91010;
	margin-inline: 30px;
}

footer {
	background-color: rgb(20 17 17);
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 204px;
}

#mainlogo {
	width: 480px;
	height: 410px;
	opacity: inherit;
	margin-inline: 420px;
	margin-top: 204px;
}

@media screen and (max-width: 750px) {
	.navbar {
		display: flex;
		position: fixed;
		top: 0;
		width: 100%;
		align-items: center;
		background: black;
		z-index: 1000;
		justify-content: center;
	}
	h2 {
		font-size: 18px;
		font-style: italic;
		text-shadow: -4px 3px 5px black;
		color: #d91010;
		margin-inline: 30px;
	}
	.navbar a {
		float: left;
		font-size: 15px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
}
