body {
    height: 100vh;
    margin: 0;
    background: black;
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Pridi', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika', sans-serif;
    background-clip: fixed;
    background-attachment: fixed;
    }
  
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: baseline;
    background:black;
    z-index: 1000;
  }
  
  .navbar a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  h2 {
    font-size: 26px;
    font-style: italic;
    text-shadow: -4px 3px 5px black;
    color: #d91010;
    margin-inline: 30px;
  }

  img {
    width: 100%;
    height: 100vh;
    opacity: 50%;
  }

  button {
    background-color: #d91010;
    width: 120px;
    height: 69px;
    border-radius: 10px;
    color: white;
    font-size: large;
    border: hidden;
    content-visibility: auto;
    margin-inline: 600px;
    margin-top: 20px;
  }

footer {
  background-color: rgb(20 17 17);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 204px;
}
h1 {
  color: white;
    width: 1050px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -395px;
    font-size: 40px;
    font-family: math;
    font-style: italic;
}

