.contact h1 {
	color: red;
}

.contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.right {
	background-color: white;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 11px;
	font-weight: bold;
}
#meet {
	color: white;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#visit {
	text-transform: uppercase;
	font-size: 1.5rem;
	padding: 20px;
	color: white;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 750px) {
	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 85%;
		margin-inline: auto;
        gap: 20px;
	}
	.map {
		order: 2;
	}
    .right {
        width: 100%;
    }
	.navbar {
		display: flex;
		position: fixed;
		top: 0;
		width: 430px;
		align-items: center;
		background: black;
		z-index: 1000;
		justify-content: center;
		margin-inline: -39px;
	}
	h2 {
		font-size: 14px;
		font-style: italic;
		text-shadow: -4px 3px 5px rgb(88 86 86);
		color: #d91010;
		text-align: end;
		margin: auto;
		margin-top: 4px;
	}
	.navbar a {
		float: left;
		font-size: 14px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	.navbar button {
		float: left;
		font-size: 14px;
		color: rgb(224, 29, 29);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		border-radius: 12px;
}
}
