body {
    margin-top: 75px;
}

.contact h1 {
    color: white;
    margin-top: 50px;
    
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 450px;
    }  
    .navbar {
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;
        align-items: center;
        background: black;
        z-index: 1000;
        justify-content: center;
    }
    h2 {
		font-size: 18px;
		font-style: italic;
		text-shadow: -4px 3px 5px black;
		color: #d91010;
		margin-inline: 30px;
	}
	.navbar a {
		float: left;
		font-size: 15px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
}